{% extends "includes/header.html" %}

{%block content%}
    <!-- Courses -->
    {%load static%}
    <section id="courses">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <div class="section-title">
                            <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                       </div>

                       <div class="owl-carousel owl-theme owl-courses">
                            <div class="col-md-4 col-sm-4">
                                 <div class="item">
                                      <div class="courses-thumb">
                                           <div class="courses-top">
                                                <div class="courses-image">
                                                     <!--<img src="images/courses-image1.jpg" class="img-responsive" alt="">-->
                                                     <img src="{%static 'images/courses-image1.jpg'%}" class="img-responsive" alt="">
                                                </div>
                                                <div class="courses-date">
                                                     <span><i class="fa fa-calendar"></i> 12 / 9 / 2020</span>
                                                     <span><i class="fa fa-clock-o"></i> 3.5 Hours</span>
                                                </div>
                                           </div>

                                           <div class="courses-detail">
                                                <h3><a href="#">Digital Marketing</a></h3>
                                                <p>Learn the fundamentals of digital marketing, and help grow your business or career.</p>
                                           </div>

                                           <div class="courses-info">
                                                <div class="courses-author">
                                                     <!--<img src="images/author-image1.jpg" class="img-responsive" alt="">-->
                                                     
                                                     <img src="{%static 'images/author-image2.jpg'%}" class="img-responsive" alt="">
                                                     <span>Sidhant Negi</span>
                                                </div>
                                                <div class="courses-price">
                                                     <a href="#"><span>₹150</span></a>
                                                </div>
                                           </div>
                                      </div>
                                 </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                 <div class="item">
                                      <div class="courses-thumb">
                                           <div class="courses-top">
                                                <div class="courses-image">
                                                     <!--<img src="images/courses-image2.jpg" class="img-responsive" alt="">-->
                                                    
                                                     <img src="{%static 'images/courses-image2.jpg'%}" class="img-responsive" alt="">
                                                </div>
                                                <div class="courses-date">
                                                     <span><i class="fa fa-calendar"></i> 20 / 9 / 2020</span>
                                                     <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>
                                                </div>
                                           </div>

                                           <div class="courses-detail">
                                                <h3><a href="#">Music Mixing & Editing </a></h3>
                                                <p>Learn fundamentals of beat creation from a seasoned underdog rapper and content creator</p>
                                           </div>

                                           <div class="courses-info">
                                                <div class="courses-author">
                                                     <!--<img src="images/author-image2.jpg" class="img-responsive" alt="">-->
                                                     
                                                     <img src="{%static 'images/author-image1.jpg'%}" class="img-responsive" alt="">
                                                     <span>Kunal Khera</span>
                                                </div>
                                                <div class="courses-price">
                                                     <a href="#"><span>₹ 150</span></a>
                                                </div>
                                           </div>
                                      </div>
                                 </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                 <div class="item">
                                      <div class="courses-thumb">
                                           <div class="courses-top">
                                                <div class="courses-image">
                                                     <!--<img src="images/courses-image5.jpg" class="img-responsive" alt="">-->
                                                     
                                                     <img src="{%static 'images/courses-image5.jpg'%}" class="img-responsive" alt="">
                                                </div>
                                                <div class="courses-date">
                                                     <span><i class="fa fa-calendar"></i> 5 / 10 / 2020</span>
                                                     <span><i class="fa fa-clock-o"></i> 25 Mins</span>
                                                </div>
                                           </div>

                                           <div class="courses-detail">
                                                <h3><a href="#">Fundamentals to Gardening</a></h3>
                                                <p>Educate your inner environmentalist with this basic course on gardening by Mr. Singh</p>
                                           </div>

                                           <div class="courses-info">
                                                <div class="courses-author">
                                                     <!--<img src="images/author-image2.jpg" class="img-responsive" alt="">-->
                                                     
                                                     <img src="{%static 'images/author-image4.jpg'%}" class="img-responsive" alt="">
                                                     <span>Hrvinder Singh</span>
                                                </div>
                                                <div class="courses-price free">
                                                     <a href="#"><span>Free</span></a>
                                                </div>
                                           </div>
                                      </div>
                                 </div>
                            </div>

                       </div>

             </div>
        </div>
   </section>
{%endblock%}