{% extends "includes/header.html" %}

{%block content%}
    <!-- TESTIMONIAL -->
    {%load static%}
     <section id="testimonial">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <div class="section-title">
                            <h2>Student Reviews <small>from around the world</small></h2>
                       </div>

                       <div class="owl-carousel owl-theme owl-client">
                            <div class="col-md-4 col-sm-4">
                                 <div class="item">
                                      <div class="tst-image">
                                           <!--<img src="images/tst-image1.jpg" class="img-responsive" alt="">-->
                                           
                                             <img src="{%static 'images/tst-image1.jpg'%}" class="img-responsive" alt="">
                                      </div>
                                      <div class="tst-author">
                                           <h4>Ankit Shekam</h4>
                                           <span>Incoming Software Developer at AMERICAN EXPRESS</span>
                                      </div>
                                      <p>You really do help young creative minds to get quality education and professional job search assistance. I’d recommend it to everyone!</p>
                                      <div class="tst-rating">
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                      </div>
                                 </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                 <div class="item">
                                      <div class="tst-image">
                                           <!--<img src="images/tst-image2.jpg" class="img-responsive" alt="">-->
                                           
                                             <img src="{%static 'images/tst-image2.jpg'%}" class="img-responsive" alt="">
                                      </div>
                                      <div class="tst-author">
                                           <h4>Satyam Kumar Jha</h4>
                                           <span>Incoming Software developer at JP Morgan</span>
                                      </div>
                                      <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher who was able to make it interesting.</p>
                                      <div class="tst-rating">
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                      </div>
                                 </div>
                            </div>

                       </div>

             </div>
        </div>
   </section> 
{%endblock%}